<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span
        class="mat-h1"
        style="
          margin-left: auto;
          margin-right: auto;
          margin-top: auto;
          margin-bottom: auto;
        "
      >
        Sala: {{ nameRoom }}
      </span>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <span
        class="mat-h2"
        style="
          margin-left: auto;
          margin-right: auto;
          margin-top: auto;
          margin-bottom: auto;
        "
      >
        Miembros:
        <span *ngFor="let participant of participants; let i = index"
          ><button class="circle-red"></button> {{ participant.username
          }}{{
            i + 1 === participants.length
              ? ""
              : i === participants.length - 2
              ? " y "
              : ", "
          }}</span
        >
      </span>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <div class="example-button-row">
        <button mat-raised-button [routerLink]="['./dashboard']" style="margin-right: 10px;">Volver</button>
<!--         <button mat-raised-button color="accent" style="margin-right: 10px;" (click)="exportDiagram($event)">Exportar diagrama</button>
 -->  </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<div class="control-section">
  <div>
    <ejs-toolbar #toolbar overflowMode='Scrollable' id="toolbar_scrollable" (clicked) = "clicked($event)">
      <e-items>
        <e-item disabled="true" prefixIcon='e-icons e-circle-add' tooltipText='New Diagram'></e-item>
        <e-item disabled="true" prefixIcon='e-icons e-folder-open' tooltipText='Open Diagram'>
        </e-item>
        <e-item prefixIcon='e-icons e-save' tooltipText='Save Diagram'></e-item>
        <e-item prefixIcon='e-print e-icons' tooltipText='Print Diagram'></e-item>
        <e-item type='Input' tooltipText='Export Diagram'>
            <ng-template #template>
                <ejs-splitbutton [items]='items' iconCss="e-export e-icons" (select)='addDisabled($event)'></ejs-splitbutton>
            </ng-template>
        </e-item>
        <e-item type='Separator'></e-item>
        <e-item prefixIcon='e-cut e-icons' tooltipText='Cut' cssClass="tb-item-middle tb-item-lock-category" disabled=true></e-item>
        <e-item prefixIcon='e-copy e-icons' tooltipText='Copy' cssClass="tb-item-middle tb-item-lock-category" disabled=true></e-item>
        <e-item prefixIcon='e-icons e-paste' tooltipText='Paste' disabled=true></e-item>
        <e-item type='Separator'></e-item>
        <e-item prefixIcon='e-icons e-undo tb-icons' tooltipText='Undo' disabled=true></e-item>
        <e-item prefixIcon='e-icons e-redo tb-icons' tooltipText='Redo' disabled=true></e-item>
        <e-item type='Separator'></e-item>
        <e-item prefixIcon='e-pan e-icons' tooltipText='Pan Tool' cssClass ='tb-item-start pan-item'></e-item>
        <e-item prefixIcon='e-mouse-pointer e-icons' tooltipText='Select Tool' cssClass ='tb-item-middle tb-item-selected'></e-item>
        <e-item  tooltipText='Draw Connectors'>
            <ng-template #template>
                <ejs-splitbutton [items]='conTypeItems' iconCss="e-ddb-icons e-connector e-icons" (select)='onConnectorSelect($event)'></ejs-splitbutton>
            </ng-template>
        </e-item>
        <e-item  tooltipText='Draw Shapes' >
            <ng-template #template>
                <ejs-splitbutton [items]='shapesItems' iconCss="e-shapes e-icons" (select)='onShapesSelect($event)'></ejs-splitbutton>
            </ng-template>
        </e-item>
        <e-item prefixIcon='e-caption e-icons' tooltipText='Text Tool' cssClass='tb-item-end'></e-item>
        <e-item type='Separator'></e-item>
        <e-item disabled=true  prefixIcon= 'e-icons e-lock' tooltipText= 'Lock' cssClass='tb-item-middle tb-item-lock-category'></e-item>
        <e-item disabled=true  prefixIcon= 'e-trash e-icons' tooltipText= 'Delete'cssClass='tb-item-middle tb-item-lock-category'></e-item>
        <e-item type='Separator'></e-item>
        <e-item disabled=true  type= 'Input' tooltipText= 'Align Objects'>
            <ng-template #template>
                <ejs-splitbutton [items]='alignItems' iconCss="sf-icon-align-center-1" (select)='onSelectAlignObjects($event)'></ejs-splitbutton>
            </ng-template>
        </e-item>
        <e-item disabled=true  type= 'Input' tooltipText= 'Distribute Objects'>
            <ng-template #template>
                <ejs-splitbutton [items]='distributeItems' iconCss="sf-icon-distribute-vertical" (select)='onSelectDistributeObjects($event)'></ejs-splitbutton>
            </ng-template>
        </e-item>
        <e-item type='Separator'></e-item>
        <e-item disabled=true  type= 'Input' tooltipText= 'Order Commands'>
            <ng-template #template>
                <ejs-splitbutton [items]='orderItems' iconCss="e-icons e-order" (select)='onSelectOrder($event)'></ejs-splitbutton>
            </ng-template>
        </e-item>
        <e-item type='Separator'></e-item>
        <e-item disabled=true  type= 'Input' tooltipText= 'Group/Ungroup' >
            <ng-template #template>
                <ejs-splitbutton [items]='groupItems' iconCss="e-icons e-group-1" (select)='onSelectGroup($event)'></ejs-splitbutton>
            </ng-template>
        </e-item>
        <e-item type='Separator'></e-item>
        <e-item disabled=true  type= 'Input' tooltipText= 'Rotate' >
            <ng-template #template>
                <ejs-splitbutton [items]='rotateItems' iconCss="e-icons e-repeat" (select)='onSelectRotate($event)'></ejs-splitbutton>
            </ng-template>
        </e-item>
        <e-item type='Separator'></e-item>
        <e-item disabled=true  type= 'Input' tooltipText= 'Flip' >
            <ng-template #template>
                <ejs-splitbutton [items]='flipItems' iconCss="e-icons e-flip-horizontal" (select)='onSelectFlip($event)'></ejs-splitbutton>
            </ng-template>
        </e-item>
        <e-item type='Separator'></e-item>
        <e-item>
            <ng-template #template>
                <ejs-splitbutton [items]='zoomMenuItems' [content]="zoomContent()" (select)='zoomChange($event)'></ejs-splitbutton>
            </ng-template>
        </e-item>
    </e-items>
    </ejs-toolbar>
  </div>
  <div class="palette-section">
    <ejs-symbolpalette
      height="850px"
      [palettes]="symbolPalette"
      [symbolHeight]="50"
      [symbolWidth]="50"
      [enableSearch]="true"
      [symbolPreview]="symbolPreviewSettings"
    ></ejs-symbolpalette>
  </div>
  <div class="diagram-section">
    <ejs-diagram
      #diagram
      id="diagram"
      width="100%"
      height="850px"
      (positionChange)="sendToServer($event)"
      (sizeChange)="sendToServer($event)"
      (collectionChange)="sendToServer($event)"
      (expandStateChange)="sendToServer($event)"
      (rotateChange)="sendToServer($event)"
      (sourcePointChange)="sendToServer($event)"
      (targetPointChange)="sendToServer($event)"
      (selectionChange)="selectionChange($event)"
      (click)="sendToServer($event)"
    ></ejs-diagram>
  </div>
</div>
