<div class="container">
  <div>
    <div class="dashboard">
      <a [routerLink]="['../dashboard']">Volver a Mis Salas</a>
      <small style="margin-left: 10px"
      >Iniciaste como {{ user.username }}</small
    >
    </div>

    <div>
      <mat-card>
        <mat-card-title>Crear Sala</mat-card-title>
        <mat-card-content>
          <form [formGroup]="form" (ngSubmit)="create()">
            <mat-form-field>
              <input
                type="text"
                matInput
                placeholder="Nombre"
                [formControl]="name"
              />
              <mat-error *ngIf="name.touched && name.hasError('required')"
                >El nombre es requerido</mat-error
              >
            </mat-form-field>

            <mat-form-field>
              <input
                type="text"
                matInput
                placeholder="Descripción"
                [formControl]="description"
              />
            </mat-form-field>

            <app-select-users
              [users]="users.value"
              (addUser)="addUser(initUser($event))"
              (removeUser)="removeUser($event.id)"
            ></app-select-users>

            <mat-hint *ngIf="!form.valid"
              ><small
                >Por favor complete toda la información necesaria</small
              ></mat-hint
            >

            <div class="button">
              <button mat-button type="submit" [disabled]="!form.valid">
                Crear Sala
              </button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
