<div class="container">
    <div>
      <div class="register">
        <a [routerLink]="['../register']">ir A La Página De Registro</a>
      </div>
  
      <div>
        <mat-card>
          <mat-card-title>Iniciar Sesión</mat-card-title>
  
          <mat-card-content>
            <form (ngSubmit)="login()" [formGroup]="form">
              <mat-form-field>
                <input type="email" matInput placeholder="Correo" [formControl]="email">
                <mat-error *ngIf="email.touched && email.hasError('required')">El correo es requerido</mat-error>
                <mat-error *ngIf="email.touched && email.hasError('email')">El correo debe ser válido</mat-error>
              </mat-form-field>
  
              <mat-form-field>
                <input type="password" matInput placeholder="Contraseña" [formControl]="password">
                <mat-error *ngIf="password.touched && password.hasError('required')">La contraseña es requerida</mat-error>
              </mat-form-field>
  
              <mat-hint *ngIf="!form.valid"><small>Por favor complete toda la información necesaria</small></mat-hint>
  
              <div class="button">
                <button mat-button type="submit" [disabled]="!form.valid">Iniciar Sesión</button>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  